<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Todos</title>
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="js/build/react.js"></script>
    <script src="js/phoenix.js"></script>
    <script src="js/build/JSXTransformer.js"></script>
    <script src="http://code.jquery.com/jquery-1.10.0.min.js"></script>

</head>

<body>
    <div class="container">
        <%=@ inner %>

    </div>
    <!-- /container -->
</body>

<script src="js/build/helloworld.js"></script>

</html>
